
.comments-list-container {
    background-color: #646363;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .comments-list-container h2 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #d1d1d1; 
  }
  
  .comment-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    
  }
  .comment-item strong {
    color: #333 !important; 
  }
  
  .comment-item p {
    color: #333 !important; 
  }
  .comment-item:last-child {
    border-bottom: none;
    
  }
  